.resetPassword_container {
  background-image: url("../../assets/sources/slider/slider_06sdf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 150px 20px !important;
}
.resetPassword_container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #cdc7bad4;
  top: 0;
  left: 0;
}
.resetPassword_container > div {
  z-index: 1;
}
.resetPassword_rightSide {
  padding-left: 20px !important;
}
.resetPassword_leftSide img {
  max-width: 400px;
}
.resetPassword_rightSide > div h5 {
  text-transform: capitalize;
  color: var(--main-color-green);
  font-size: 30px;
  margin-bottom: 5px !important;
}
.resetPassword_rightSide > div > p {
  color: var(--main-color-green);
  font-size: 15px;
}
.resetPass_emailSec label {
  margin-bottom: 5px !important;
  color: var(--main-color-green);
}
form .resetPass_emailSec input {
  border: none;
  outline: none;
  padding: 7px 5px !important;
  width: 250px;
  border: 1px solid var(--main-color-green);
}
form .resetPass_emailSec input::placeholder {
  color: var(--main-color-green);
}
form > button {
  border: none;
  outline: none;
  background-color: var(--main-color-green);
  color: var(--main-color-white);
  text-transform: capitalize;
  padding: 7px 20px !important;
  letter-spacing: 0.5px;
}
.resetPassword_rightSide > div > p span {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}
.resetPassword_rightSide > div > p span a {
  color: var(--main-color-green);
}
@media (max-width: 768px) {
  .resetPassword_container {
    padding: 50px 20px !important;
  }
  .resetPassword_rightSide {
    padding-left: 0px !important;
  }
}
