.cartPage_container {
  background-color: #dcd5cf;
  min-height: 75vh;
}
.cart_title h1 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--main-color-green);
  margin-bottom: 10px !important;
}
.cart-nav-sec .cart-nav-links button {
  border: none;
  outline: none;
  background: transparent;
  margin: 0 5px !important;
  text-transform: capitalize;
}
.cart-nav-sec .cart-nav-links button.prev-page a {
  color: rgb(119, 118, 118);
}
.cart-nav-sec .cart-nav-links button.curr-page a {
  color: var(--main-color-green);
}
.cart-nav-menu h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 900;
}
.cart-nav-menu img {
  width: 25px;
  margin-left: 10px !important;
}
.cart-nav-menu button {
  border: none;
  outline: none;
  background: transparent;
}
.cart-nav-menu button a {
  color: var(--main-color-green);
}
/* ------------------------------------------------ */
.cartPage_container table tr th {
  text-transform: uppercase;
  color: var(--main-color-green);
  padding-bottom: 3px !important;
  font-weight: 400;
}
.cartPage_container table tr {
  border-bottom: 1px solid var(--main-color-green);
}
.cartPage_container table tr td img {
  width: 45px;
  height: 45px;
}
.cartPage_container table tr td:nth-child(1) {
  min-width: 300px;
}
.cartPage_container table tr td:not(:nth-child(1)) {
  min-width: 100px;
}
.cartPage_container table tr td h4 {
  margin-left: 20px !important;
  font-size: 15px;
  color: var(--main-color-green);
  font-weight: 900;
}
.cartTable-price-sec,
.cartTable-tQnt-sec {
  font-weight: 500;
  color: var(--main-color-green);
}
.cartTable-qnt-sec span {
  margin: 0 5px !important;
  font-weight: 500;
  font-size: 15px;
}
.cartTable-qnt-sec button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
}
.cartTable-qnt-sec button svg {
  color: var(--main-color-green);
}
.cartTable-rm-pro-btn button,
.cartTable-rm-cart-btn {
  border: none;
  outline: none;
  text-transform: capitalize;
  color: var(--main-color-green);
  border-bottom: 1px solid var(--main-color-green);
  background: transparent;
}
.dest-title {
  margin-left: 20px !important;
  text-transform: capitalize;
}
.dest-delivery {
  font-weight: 500;
  text-transform: uppercase;
}
.dest-info {
  text-transform: capitalize;
}
.subtotalSection span {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px !important;
}
.rmFun_checkPage_sec {
  padding-bottom: 30px !important;
}
.rmFun_checkPage_sec button {
  outline: none;
  margin-left: 50px !important;
  background: none;
}
.rmFun_checkPage_sec button a {
  text-transform: uppercase;
}
.rmFun_checkPage_sec button:nth-child(2) {
  border: none;
  background-color: var(--main-color-green);
  font-size: 15px;
  padding: 5px 10px !important;
  letter-spacing: 1px;
}
.rmFun_checkPage_sec button:nth-child(2) a {
  color: var(--main-color-white);
}
.no-items-added-announcement {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 50px !important;
  font-size: 19px;
}
.cartPage_container .table-scrolling {
  overflow: auto;
}
.cartPage_container .table-scrolling::-webkit-scrollbar {
  height: 8px !important;
}
