footer a {
  color: var(--main-color-white);
}
.footer-container {
  background-color: var(--bg-dark-green);
  color: var(--main-color-white);
  font-family: Oswald;
}
.footer-container h4 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px !important;
}
.footer-container ul {
  list-style: none;
  margin: 0 !important;
}
.footer-container ul li,
.pp-sec + p {
  font-weight: 200;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 3px !important;
}
.G-I-T {
  margin-left: 8px !important;
}
li svg {
  font-size: 13px;
}
.newsletter input {
  width: 80%;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 1px solid #dbd4cc;
  color: var(--main-color-white);
  font-weight: 200;
}
.newsletter svg {
  color: #dbd4cc;
  font-weight: 200 !important;
  cursor: pointer;
}
::placeholder {
  color: #dbd4cc;
  font-weight: 200;
}
.footer-copyright-author-link {
  text-decoration: underline;
}
.pp-sec {
  margin-top: 20px !important;
}
