.monthSpecial_title {
  position: relative;
  color: var(--main-color-white);
  letter-spacing: 2px;
  font-size: 30px;
  background-image: url("../../../assets/sources/posters/semi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px !important;
  text-transform: uppercase;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 1;
}
.monthSpecial_title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: -1;
}

/* Small devices */
@media (max-width: 767px) {
  .monthSpecial_title {
    font-size: 20px;
  }
}
.specialOffer_card_container {
  margin: 30px auto !important;
  display: flex;
  justify-content: center;
}
.specialOffer_card_container .leftSideImg,
.specialOffer_card_container .rightSideImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.rightSideTxt .specialOffer_card_title,
.leftSideTxt .specialOffer_card_title {
  color: #6ecc16;
  background-color: #000000b7;
  font-weight: 500;
  padding: 20px 0 20px 20px !important;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.rightSideTxt .specialOffer_card_paragraphs p,
.leftSideTxt .specialOffer_card_paragraphs p {
  font-size: 13px;
  margin: 20px 0 !important;
  padding: 0 10px !important;
  color: var(--main-color-white);
}
.rightSideTxt button,
.leftSideTxt button {
  border: 1px solid var(--main-color-white);
  outline: none;
  background-color: var(--main-color-green);
  padding: 7px 15px !important;
  font-size: 15px;
  margin: 0 10px !important;
}
.rightSideTxt button a,
.leftSideTxt button a {
  color: var(--main-color-white);
}
.specialOffer_card_container .leftSideTxt,
.specialOffer_card_container .rightSideTxt {
  background-color: var(--main-color-green);
}
/* ====================== RESPONSIVENESS ====================== */
/* EXTRA SMALL DEVICES  */
@media (max-width: 439px) {
  .specialOffer_card_container {
    width: 290px;
    height: auto !important;
  }
  .specialOffer_card_container .leftSideImg,
  .specialOffer_card_container .rightSideTxt,
  .specialOffer_card_container .rightSideImg,
  .specialOffer_card_container .leftSideTxt {
    width: 290px;
  }
  .specialOffer_card_container .leftSideImg,
  .specialOffer_card_container .rightSideImg {
    height: 340px;
  }
  .specialOffer_card_container .rightSideTxt,
  .specialOffer_card_container .leftSideTxt {
    height: 370px;
  }
  .appropirate_card_structure_sm {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* SMALL DEVICES  */
@media (min-width: 440px) and (max-width: 699px) {
  .specialOffer_card_container {
    width: 400px;
    height: auto !important;
  }
  .specialOffer_card_container .leftSideImg,
  .specialOffer_card_container .rightSideTxt,
  .specialOffer_card_container .rightSideImg,
  .specialOffer_card_container .leftSideTxt {
    width: 400px;
  }
  .specialOffer_card_container .leftSideImg,
  .specialOffer_card_container .leftSideTxt {
    height: 400px;
  }
  .specialOffer_card_container .rightSideTxt,
  .specialOffer_card_container .rightSideImg {
    height: 350px;
  }
  .appropirate_card_structure_sm {
    display: flex;
    flex-direction: column-reverse;
  }
}
/* MEDIUM DEVICES  */
@media (min-width: 700px) and (max-width: 991px) {
  .specialOffer_card_container {
    width: 650px;
    height: 500px !important;
  }
  .specialOffer_card_container .leftSideImg,
  .specialOffer_card_container .rightSideImg {
    width: calc(650px / 12 * 8);
    height: 500px;
  }
  .leftSideImg {
    border-right: 3px solid #fff;
  }
  .rightSideImg {
    border-left: 3px solid #fff;
  }
}
/* LARGE DEVICES  */
@media (min-width: 992px) {
  .specialOffer_card_container {
    width: 920px;
    height: 500px !important;
  }
  .specialOffer_card_container .leftSideImg,
  .specialOffer_card_container .rightSideImg {
    width: calc(920px / 12 * 8);
    height: 500px;
  }
  .rightSideTxt .specialOffer_card_paragraphs p,
  .leftSideTxt .specialOffer_card_paragraphs p {
    font-size: 17px;
    margin: 30px 0 !important;
  }
  .leftSideImg {
    border-right: 3px solid #fff;
  }
  .rightSideImg {
    border-left: 3px solid #fff;
  }
}
